Package: Drauger-BTRFS-scrub
Version: 0.0.1
Maintainer: Richard Romick <contact@draugeros.org>
Section: admin
Homepage: TBD
Architecture: amd64
Priority: optional
Depends: apt (>=1.6.6), bash (>=4.4.18-2ubuntu1)
Description: Sets up monthly chron job for the DraugerOS filesystem created by the auto-paritioner